body {
    color: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('bg.jpg');
}

.blue-text {
    color: blue;
}
.green-text {
    color: green;
}
.blue-background {
    background-color: blue;
}
.green-background {
    background-color: green;
}
.orange-background {
    background-color: orange;
}
